
MAX_LEN=128
BATCH_SIZE=16
EPOCHS= 20
CV_EPOCHS=1
LR=2e-5
SAVE_DIR=./regression_finance_finetune_gbert_distil


HF_TOKEN = <YOUR_TOKEN> 

# DONT CHANGE THE FOLLOWING:
DE_BASE_MODEL_PATH = "./distilbert-german-finance-mlm"
DE_REG_LOCAL_DIR = "./regression_finance_finetune_gbert_distil"
DE_CKPT_PATH =  "./regression_finance_finetune_gbert_distil/pytorch_model.bin"
DE_TOKENIZER_ID = "BenjaminOyarzun17/Finance-Finetune-distil-GBert-Finetune-Regression"

EN_TOKENIZER_ID = ./regression_finance_finetune_english_bert_distil
EN_CKPT_PATH = ./regression_finance_finetune_english_bert_distil/pytorch_model.bin
TORCH_NUM_THREADS = 1


DE_BASE_HF_REPO_ID = "BenjaminOyarzun17/distilbert-german-finance-mlm"
DE_REG_HF_REPO_ID = "BenjaminOyarzun17/Finance-Finetune-distil-GBert-Finetune-Regression"
EN_HF_REPO_ID = "BenjaminOyarzun17/distil_gbert_regression_finance"
EN_LOCAL_DIR = "./regression_finance_finetune_english_bert_distil"
