AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=eu-central-1
APCA_API_KEY_ID =... 
APCA_API_SECRET_KEY =... 
# optional
FINNHUB =... 
OPENAI_API_KEY =... 



COGNITO_DOMAIN_PREFIX =...
COGNITO_CLIENT_ID =...
AWS_COGNI_CLIENT_SECRET =...
FINBERT_URL = "http://localhost:7575"