# Base ML Dependencies
torch
transformers
sentencepiece

# Data Utilities
pandas
numpy
tqdm

# Streamlit and prototyping
streamlit


# AWS

boto3

# others
python-dotenv


# Backend Dependencies (planned)
# FastAPI>=0.100.0
# uvicorn[standard]>=0.23.0
# pydantic>=2.0.0

