acres
aiofiles
altair
annotated-doc
annotated-types
anyio
attrs
Authlib
beautifulsoup4
blinker
blis
boto3
botocore
build
cachetools
catalogue
certifi
cffi
charset-normalizer
choreographer
ci-info
click
cloudpathlib
colorama
confection
configobj
configparser
contourpy
cryptography
curl_cffi
cycler
cymem
defusedxml
distro
dotenv
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
etelemetry
fastapi
filelock
fonttools
fpdf2
frontend
frozendict
fsspec
gitdb
GitPython
h11
httpcore
httplib2
httpx
idna
iniconfig
itsdangerous
Jinja2
jiter
jmespath
joblib
jsonschema
jsonschema-specifications
kaleido
kiwisolver
langdetect
logistro
looseversion
lxml
MarkupSafe
matplotlib
mpmath
msgpack
multitasking
murmurhash
narwhals
networkx
nibabel
nipype
nltk
numpy
openai
orjson
packaging
pandas
pathlib
peewee
pillow
pip-tools
platformdirs
plotly
pluggy
preshed
protobuf
prov
puremagic
pyarrow
pycparser
pydantic
pydantic_core
pydeck
pydot
Pygments
pyparsing
pyproject_hooks
pytest
pytest-timeout
python-dateutil
python-dotenv
pytz
pyxnat
PyYAML
rdflib
referencing
regex
requests
rpds-py
s3transfer
sacremoses
safetensors
scipy
sentencepiece
setuptools
simplejson
six
smart_open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
sseclient-py
starlette
streamlit
sympy
tabulate
tenacity
thinc
tokenizers
toml
tools
tornado
tqdm
traits
typer-slim
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wasabi
watchdog
weasel
websockets
wheel
wrapt
yfinance
